[gcode_macro START_PRINT]
description: Start G-Code
gcode:
    {% set bedtemp = params.BED_TEMP|default(60)|float %}
    {% set hotendtemp = params.EXTRUDER_TEMP|default(195)|float %}
    {% set MINX = params.MINX|default(0)|float %}
    {% set MAXX = params.MAXX|default(0)|float %}
    {% set MINY = params.MINY|default(0)|float %}
    {% set MAXY = params.MAXY|default(0)|float %}
    {% set travel_speed = params.TRAVEL_SPEED|default(150)|float %}


    G21
    G90
    M82
    M140 S{bedtemp} ;Preset bedtemp
    M104 S150 ;Set hotend to 150C
    G28 ;Home all if needed, references another created macro!

    Attach_Probe_Lock ;Attach Klicky Probe and lock to prevent unwanted docking
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=live
    Dock_Probe_Unlock ;Dock Klicky Probe
    RESPOND MSG="Heating Hotend to {hotendtemp}C!"
    M104 S{hotendtemp} ;Set hotend temp
    G0 X150 Y20 F3000 ;Move towards end of the bed for purge line but not too close to front door that it can kill the fan overtime
    M109 S{hotendtemp} ;Wait for hotend temp

    {% if params.BED_TEMP|int > 90 %}
    RESPOND MSG="Heating Bed to {bedtemp}C!"
    M190 S{bedtemp} ;Wait for bedtemp to drop if needed for material profile

    # If the bed temp less than 90C do nothing here
    {% else %}
      #
    {% endif %}

    RESPOND MSG="Print Started!"
    G0 Y0 ;Move to final Purge Line Location
    ADAPTIVE_PURGE
    M221 S95 ;Set Flow to 95%

[gcode_macro END_PRINT]
gcode:
  # Load Variables
  {% set max_layer_z = params.MAX_LAYER_Z|float %}
  {% set max_print_height = params.MAX_PRINT_HEIGHT|float %}
  {% set z_offset = params.Z_OFFSET|default(0)|float %}
  {% set travel_speed = params.TRAVEL_SPEED|default(150)|float %}
  {% set bed_y_max = params.BED_Y_MAX|float %}

  # Reset PA
  #SET_PRESSURE_ADVANCE ADVANCE=0.0

  # Retract a bit
  G91
  G1 E-2 F2100
  G90

  # Turn off bed, extruder, and fan
  M140 S0
  M104 S0
  M106 S0

  {% if (z_offset+max_layer_z) < (max_print_height-10) %}
    G1 Z{z_offset+max_layer_z+10} F600 # Move print head up by 10mm if possible
  {% elif (z_offset+max_layer_z) < (max_print_height-2) %}
    G1 Z{z_offset+max_layer_z+2} F600 # Move print head up by 2mm if 10mm not possible
  {% else %}
    G1 Z{max_print_height} F600 # Move print head up if it can move up at all
  {% endif %}

  G1 X5 Y{bed_y_max*0.95} F{travel_speed*30}

  # Disable steppers
  M84

  # Clear bed mesh
  #BED_MESH_CLEAR

  M117 Print Complete!
  #UPDATE_DELAYED_GCODE ID=clear_display DURATION=10